
body {
    margin: 0;
    padding: 0;
    min-width: 100%!important;
    background-color: hsl(0, 0%, 34%);
    color: #222;
    font-family: Arial,sans-serif;
    font-size: 8px;
}
table {
    border:0px #222;
}
td {
    border:0px #222;
}

.preheaderContent {
    width: 600px;
    max-width: 600px;
    border-spacing: 0;
    padding: 10px 20px 15px 20px;
    height: 0;
    font-size: 8px;
    font-family: Jura,sans-serif;
    color: #AAA;
    background-color: hsl(0, 0%, 34%);
}

.mainContent {
    /*border="0" cellpadding="0" cellspacing="0"*/
    max-width: 600px;
    width: 600px;
    margin: 0;
    border-spacing: 0;
    border-collapse: separate;
    padding: 0;
    background-color: #EFEFEF;
}

.logo {
    width: 600px;
    max-width: 600px;
    border-spacing: 0;
    border-collapse: separate;
    padding: 15px 25px 15px 25px;
    font-size: 20px;
    font-family: Jura,sans-serif;
    background-color: #fff;
    max-height: 50px;
    height: 50px;
    /* border: 1px solid #CCC; */
}

.logo-left {
    border-spacing: 0;
    max-height: 47px;
    height: 47px;
    position: relative;
    left: 0px;
}

.logo-right {
    border-spacing: 0;
    max-height: 25px;
    height: 25px;
    width: 99px;
    position: relative;
    right: 0px;
}

.header {
    /*border="0" cellpadding="0" cellspacing="0"*/
    max-width: 600px;
    width: 600px;
    /* height: 200px; */
    margin: 0;
    border-spacing: 0;
    /* border-collapse: separate; */
    /* padding: 10px 20px 10px 20px; */
    color: #DDD;
    background-color: #222;
    /* border: 1px solid #CCC; */
    /* border-top: 3px solid #428bca; */
} 

.header-content {
    max-width: 600px;
    width: 600px;
    padding: 55px 15px 55px 15px;
    font-size: 9px;
    font-family: Jura,sans-serif;
    background-color: #222;
    color: #DDD;
    border-collapse: collapse;
}

.title {
    font-size: 22px;
    padding: 10px 10px 0px 10px;
    font-family: Jura,sans-serif;
    vertical-align: middle;
    text-align:center;
}

hr {
    width: 80%;
    border: 1px solid #AAA;
}

.subtitle {
    font-size: 18px; 
    padding: 0px 0px 10px 0px;
    font-family: Jura,sans-serif;
    vertical-align: middle;
    text-align:center;
}

.content {
    max-width: 600px;
    width: 600px;
    margin: 0;
    border-spacing: 0;
    border-collapse: separate;
    padding: 25px;
    font-size: 12px;
    font-family: Jura,sans-serif;
    background-color: #fff;
    color: #666;
    border-radius: 0px 0px 0px  0px;
    border-collapse: separate;
    /* border: 1px solid #CCC; */
}

.imageContent {
    max-width: 600px;
    width: 600px;
    margin: 0;
    border-spacing: 0;
    padding: 0;
    border-collapse: separate;
}

.imageContainer {
    max-width: 600px;
    width: 600px;
    margin: 0;
    border-spacing: 0;
    padding: 0;
    border-collapse: collapse;
}

.head-image {
    max-width: 598px;
    width: 598px;
    border-collapse: collapse;
    border: 1px solid #CCC;
}

.body-content {
    padding: 25px 25px 25px 25px;
    background-color: #fff;
}

.body-footer {
    padding: 25px 25px 25px 25px;
    text-align: bottom;
    font-weight: bold;
    background-color: #fff;
}

.body-image {
    padding: 0px 0px 0px 0px;
    max-width: 600px;
    width: 600px;
}

.image-right {
    width: 250px;
	height: 430px;
	float: right;
}

.footer {
    max-width: 600px;
    width: 600px;
    margin: 0;
    border-spacing: 0;
    border-radius: 0px 0px 0px 0px;
    border: 1px solid #222;
}

.footer-content {
    max-width: 600px;
    width: 600px;
    padding: 25px 25px 25px 25px;
    font-size: 9px;
    font-family: Jura,sans-serif;
    background-color: #222;
    color: #DDD;
    border-collapse: collapse;
}

.media-icon {
    width:  23px;
    height: 23px;
    padding-left: 5px;
}

a {
    text-decoration: none;
    color: #428bca;
}